<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: white"
>
  <div class="container-fluid">
    <div id="mobile-navbar" class="d-flex flex-grow-1">
      <span class="w-100 d-lg-none d-block">
        <!-- hidden spacer to center brand on mobile -->
      </span>
      <a class="navbar-brand d-none d-lg-inline-block logo" href="#">
        SERENDIPIA
      </a>
      <a
        class="navbar-brand mx-auto d-lg-none d-sm-flex d-md-flex logo"
        href="#"
      >
        SERENDIPIA
      </a>
      <div class="w-100 text-right d-flex align-items-center justify-content-center">
        <button
          class="navbar-toggler mb-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#Navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="Navbar">
      <ul class="navbar-nav ms-auto flex-nowrap mr-4">
        <li class="nav-item">
          <a
            href="#"
            class="nav-link m-4 menu-item nav-active"
            [routerLink]="['/home']"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a [routerLink]="['/rooms']" class="nav-link m-4 menu-item"
            >Book now</a
          >
        </li>
        <li class="nav-item" *ngIf="!isUserLogged()">
          <a [routerLink]="['/login']" class="nav-link m-4 menu-item">Log in</a>
        </li>
        <li class="nav-item" *ngIf="isUserLogged()">
          <a
            [routerLink]="['/home']"
            class="nav-link m-4 menu-item"
            (click)="logout()"
            >Log out</a
          >
        </li>
        <li class="nav-item" *ngIf="!isUserLogged()">
          <a [routerLink]="['/signup']" class="nav-link m-4 menu-item"
            >Register</a
          >
        </li>

        <li class="nav-item" *ngIf="isUserLogged()">
          <a [routerLink]="['/profile']" class="nav-link m-4 menu-item"
            >Profile</a
          >
        </li>
        
      </ul>
    </div>
  </div>
</nav>
