*{
    margin: 0px;
    padding: 0px;
}

#Navbar{
    font-size: 18px;
}

li {
    margin: 0 1rem 0 1rem;

  }

.nav-item{
    color: black;
}

li:last-child{
    margin-right: 4rem;
}
  

.logo{
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    letter-spacing: 15px;
    margin: 15px;
}

#mobile-navbar{
    flex-direction: column;
}

.navbar-toggler{
    border:none;
}