<nav class="navbar navbar-expand-lg navbar-light " style="background-color: white;">
    <div class="container-fluid">
        <div class="d-flex flex-grow-1">
            <span class="w-100 d-lg-none d-block">
                <!-- hidden spacer to center brand on mobile -->
            </span>
            <a class="navbar-brand d-none d-lg-inline-block" href="#"> <img src="../../../assets/navbar/logo.svg"
                  height="136px"  alt=""> </a>
            <a class="navbar-brand-two mx-auto d-lg-none d-sm-flex d-md-flex    " href="#"> <img src="../../../assets/navbar/logo.svg"
                height="136px"  alt="logo"> </a>
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="Navbar">
            <ul class="navbar-nav ms-auto flex-nowrap mr-4">
                <li class="nav-item">
                    <a href="#" class="nav-link m-4 menu-item nav-active" [routerLink]="['/home']">Home</a>
                </li>   
                <li class="nav-item">
                    <a href="#" class="nav-link m-4 menu-item" >Booking</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-4 menu-item" [routerLink]="['/login']">Log in</a>
                </li>   
                <li class="nav-item">
                    <a href="#" class="nav-link m-4 menu-item">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>