div{
    height: 90vh;
}

h1{
    font-size: 90px;
    font-family: 'Poiret One', cursive;
    text-decoration-thickness: 2px;
    text-underline-offset: 1rem;
    letter-spacing: 20px;
}

p {
    font-size: 18px;
    line-height: 55px;
    text-align: justify;
    letter-spacing: 0.2em;
}

