<div class="overflow-hidden">
  <header class="banner d-flex justify-content-center">
    <div class="my-4">
      <h1 class="title">SERENDIPIA</h1>
      <hr style="height: 2px; color: white; opacity: 100%" />
      <h2 class="text-center">SIGN UP</h2>
    </div>
  </header>

  <body class="row d-flex justify-content-center align-items-center">
    <form
      action=""
      (ngSubmit)="onSubmit()"
      [formGroup]="signupForm"
      class="col-lg-7 col-md-8 col-sm-9"
    >
      <app-alert
        [message]="message"
        [showAlert]="showAlert"
        [isError]="isError"
      ></app-alert>
      <div class="row d-flex justify-content-center">
        <div class="mb-5 col-lg-6 col-md-9 col-sm-12">
          <h3>EMAIL</h3>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            placeholder="Enter your email"
            name="email"
            aria-describedby="basic-addon2"
            required
          />
          <div
            *ngIf="
              signupForm.controls['email'].invalid &&
              (signupForm.controls['email'].dirty ||
                signupForm.controls['email'].touched)
            "
            class="text-danger"
          >
            <div *ngIf="signupForm.controls['email'].errors?.['required']">
              Email is required
            </div>
            <div *ngIf="signupForm.controls['email'].errors?.['email']">
              Email must be valid
            </div>
          </div>
        </div>

        <div class="mb-5 col-lg-6 col-md-9 col-sm-12">
          <h3>CELLPHONE</h3>
          <input
            formControlName="cellphone"
            type="tel"
            class="form-control"
            placeholder="Enter your cellphone number"
            name="cellphone"
            aria-describedby="basic-addon2"
            required
          />
          <div
            *ngIf="
              signupForm.controls['cellphone'].invalid &&
              (signupForm.controls['cellphone'].dirty ||
                signupForm.controls['cellphone'].touched)
            "
            class="text-danger"
          >
            <div *ngIf="signupForm.controls['cellphone'].errors?.['required']">
              Cellphone is required
            </div>
            <div *ngIf="signupForm.controls['cellphone'].errors?.['minlength']">
              Cellphone must be 10 digits long
            </div>
            <div *ngIf="signupForm.controls['cellphone'].errors?.['maxlength']">
              Cellphone must be 10 digits long
            </div>
          </div>
        </div>

        <div class="mb-5 col-lg-6 col-md-9 col-sm-12">
          <h3>FIRST NAME</h3>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            placeholder="Enter your first name"
            name="name"
            aria-describedby="basic-addon2"
            required
          />
          <div
            *ngIf="
              signupForm.controls['name'].invalid &&
              (signupForm.controls['name'].dirty ||
                signupForm.controls['name'].touched)
            "
            class="text-danger"
          >
            <div *ngIf="signupForm.controls['name'].errors?.['required']">
              Name is required
            </div>
          </div>
        </div>

        <div class="mb-5 col-lg-6 col-md-9 col-sm-12">
          <h3>LAST NAME</h3>
          <input
            formControlName="first_lastname"
            type="text"
            class="form-control"
            placeholder="Enter your last name"
            name="first_lastname"
            aria-describedby="basic-addon2"
            required
          />
          <div
            *ngIf="
              signupForm.controls['first_lastname'].invalid &&
              (signupForm.controls['first_lastname'].dirty ||
                signupForm.controls['first_lastname'].touched)
            "
            class="text-danger"
          >
            <div
              *ngIf="signupForm.controls['first_lastname'].errors?.['required']"
            >
              Lastname is required
            </div>
          </div>
        </div>

        <div class="mb-5 col-lg-6 col-md-9 col-sm-12">
          <h3>PASSWORD</h3>
          <input
            formControlName="password"
            type="password"
            class="form-control"
            placeholder="Enter your password"
            name="password"
            aria-describedby="basic-addon2"
            required
            id="password1"
          />
          <div
            *ngIf="
              signupForm.controls['password'].invalid &&
              (signupForm.controls['password'].dirty ||
                signupForm.controls['password'].touched)
            "
            class="text-danger"
          >
            <div *ngIf="signupForm.controls['password'].errors?.['required']">
              Password is required
            </div>
          </div>
        </div>

        <div class="mb-2 col-lg-6 col-md-9 col-sm-12">
          <h3>CONFIRM</h3>
          <input
            formControlName="confirmPassword"
            type="password"
            class="form-control"
            placeholder="Confirm your password"
            name="confirmPassword"
            aria-describedby="basic-addon2"
            required
            id="password2"
          />
          <div
            *ngIf="
              signupForm.controls['confirmPassword'].invalid &&
              (signupForm.controls['confirmPassword'].dirty ||
                signupForm.controls['confirmPassword'].touched)
            "
            class="text-danger"
          >
            <div
              *ngIf="signupForm.controls['confirmPassword'].errors?.['required']"
            >
              Password is required
            </div>
          </div>
          <div
            *ngIf="signupForm.errors?.['passwordMismatch']"
            class="text-danger"
          >
            Passwords do not match
          </div>
        </div>

        <div>
          <p class="text-center">
            You have an account?
            <a
              [routerLink]="['/login']"
              style="text-decoration: underline; color: rgb(43, 43, 43)"
              >Log in here</a
            >
          </p>
        </div>

        <div class="d-flex justify-content-center mt-4 mb-3">
          <button type="submit" class="btn btn-dark" id="btnSignup">
            SIGN UP
          </button>
        </div>
        <p class="text-center">or</p>
        <div class="d-flex justify-content-center mb-5">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="signupGoogle()"
          >
            SIGN UP WITH GOOGLE
          </button>
        </div>
      </div>
    </form>
  </body>
</div>
