<div class="overflow-hidden">
  <header class="banner d-flex justify-content-center">
    <div class="my-4">
      <h1 class="title text-center">SERENDIPIA</h1>
      <hr style="height: 2px; color: white; opacity: 100%" />
      <h2 class="text-center">BOOK ROOM</h2>
    </div>
  </header>

  <body class="row d-flex justify-content-center align-items-center">
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="bookingForm"
      action=""
      class="col-lg-6 col-sm-md-12"
    >
      <div class="row d-flex justify-content-center align-items-center">
        <app-alert
          [message]="message"
          [showAlert]="showAlert"
          [isError]="isError"
        ></app-alert>
        <div class="mb-5 col-12">
          <h3>GUESTS</h3>
          <input
            formControlName="guest_count"
            type="number"
            class="form-control"
            placeholder="Enter the guest number"
            name="email"
            aria-describedby="basic-addon2"
            min="1"
            max="4"
            required
          />
        </div>

        <div class="mb-5 col-lg-6 col-md-12">
          <h3>CHECK-IN</h3>
          <input
            formControlName="start_date"
            type="date"
            class="form-control"
            placeholder="Enter your check-in day"
            name="names"
            aria-describedby="basic-addon2"
            required
          />
        </div>

        <div class="mb-5 col-lg-6 col-md-12">
          <h3>CHECK-OUT</h3>
          <input
            formControlName="end_date"
            type="date"
            class="form-control"
            placeholder="Enter your check-out day"
            name="names"
            aria-describedby="basic-addon2"
            required
          />
        </div>

        <div class="d-flex justify-content-center mt-2 mb-5">
          <button type="submit" class="btn btn-dark">BOOK</button>
        </div>
      </div>
    </form>
    <div class="col-lg-5 col-md-sm-12">
      <div class="">
        <h1 class="room-name text-center">{{ this.room.name | uppercase }}</h1>
        <hr />
        <img
          src="https://exp.cdn-hotels.com/hotels/43000000/42560000/42560000/42559911/4541ca4c_z.jpg?impolicy=fcrop&w=500&h=333&q=medium"
          alt=""
        />

        <div class="d-flex justify-content-between room-details">
          <p *ngIf="this.room.building">
            BUILDING: {{ this.room.building | uppercase }}
          </p>
          <p *ngIf="this.room.exterior_number">
            ROOM NUMBER: {{ this.room.exterior_number | uppercase }}
          </p>
        </div>

        <p class="room-details m-0">SERVICES</p>
        <div
          class="d-flex justify-content-between"
          *ngFor="let service of room.services"
        >
          <p>{{ service | uppercase }}</p>
        </div>

        <h1 class="room-name mb-5" style="line-height: 30px">
          PRICE <span>$ {{ this.room.nightly_price }}</span>
        </h1>
      </div>
    </div>
  </body>
</div>
