<div class="overflow-hidden">
  <header class="banner d-flex justify-content-center">
    <div class="my-4">
      <h1 class="title text-center">SERENDIPIA</h1>
      <hr style="height: 2px; color: white; opacity: 100%" />
      <h2 class="text-center">BOOK ROOM</h2>
    </div>
  </header>

  <body class="row d-flex justify-content-center align-items-center m-5">
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="bookingForm"
      action=""
      class="col-lg-6 col-sm-md-12"
    >
      <div class="row d-flex justify-content-center align-items-center">
        <div class="mb-5 col-12">
          <h3>GUESTS</h3>
          <input
            formControlName="guest_count"
            type="number"
            class="form-control"
            placeholder="Enter the guest number"
            name="email"
            aria-describedby="basic-addon2"
            min="1"
            max="4"
            required
          />
        </div>

        <div class="mb-5 col-lg-6 col-md-9 col-sm-12">
          <h3>CHECK-IN</h3>
          <input
            formControlName="start_date"
            type="date"
            class="form-control"
            placeholder="Enter your check-in day"
            name="names"
            aria-describedby="basic-addon2"
            required
          />
        </div>

        <div class="mb-5 col-lg-6 col-md-9 col-sm-12">
          <h3>CHECK-OUT</h3>
          <input
            formControlName="end_date"
            type="date"
            class="form-control"
            placeholder="Enter your check-out day"
            name="names"
            aria-describedby="basic-addon2"
            required
          />
        </div>

        <div class="d-flex justify-content-center mt-4">
          <button type="submit" class="btn btn-dark">BOOK</button>
        </div>
      </div>
    </form>

    <div class="col-lg-5 col-md-sm-12">
      <div class="">
        <h1 class="room-name text-center">EXCECUTIVE ROOM</h1>
        <hr />
        <img
          src="https://exp.cdn-hotels.com/hotels/43000000/42560000/42560000/42559911/4541ca4c_z.jpg?impolicy=fcrop&w=500&h=333&q=medium"
          alt=""
        />
        <p class="mt-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac
          ligula ut nulla tincidunt fermentum vitae at tellus. Quisque vehicula
          dapibus eros eget porta. Pellentesque habitant morbi tristique
          senectus et netus et malesuada fames ac turpis egestas.
        </p>

        <div class="d-flex justify-content-between room-details">
          <p>BUILDING: SERAPHIN</p>
          <p>ROOM NUMBER: 221</p>
        </div>

        <p class="room-details m-0">SERVICES</p>
        <div class="d-flex justify-content-between">
          <p>SERVICE</p>
          <p>SERVICE</p>
          <p>SERVICE</p>
        </div>

        <h1 class="room-name">PRICE <span>$XXXX</span></h1>
      </div>
    </div>
  </body>
</div>
