.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.096);
    transition: 0.3s;
}

.card-header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 10px;
    word-break: break-all;

}

.card-body {
    padding: 0 5rem 2rem 5rem;
}

.header-line {
    height: 5px;
    width: 90%;
    opacity: .15;
}

h3{
    font-size: 20px;
    letter-spacing: 10px;
    font-weight:600;
}

h4{
    font-size: 18px;
    letter-spacing: 5px;
    font-weight:600;
}

p {
    font-size: 14px;
    letter-spacing: 2px;
    text-align: justify ;
    word-break: break-all;
}

.category {
    font-weight: bold;
}


button{
        border: none;
        font-family: 'Archivo', sans-serif;
        letter-spacing: 5px;
   
}

@media (max-width: 480px) {
    h3,h4 {
        font-size: 15px;
    }

    .card-body {
        padding: 0 2rem 2rem 2rem;
    }
  
}

