<div class="card my-5">
    <h3 class="card-header text-center">[Friday, May 3]</h3>
    <div class="d-flex justify-content-center">
        <hr class="header-line">
    </div>
    
    <div class="card-body ">
        <div class="row mb-3">
            <h4 class="card-title mb-4">Tipo de habitación</h4>
            <div class="col-lg-6 col-md-6 col-sm-12">
                
                <p class="category">Guest number: </p>
                <p>[##]</p>
                <p class="category">Price:</p>
                <p>[##]</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="category">Check in:</p>
                <p>[MM-DD-YY] </p>
                <p class="category">Check out: </p>
                <p>[MM-DD-YY] </p> 
            </div>
        </div>
      
      <a href="#" class="btn btn-danger">Cancel reservation</a>
    </div>
</div>