<div class="overflow-hidden">
  <header class="banner d-flex justify-content-center">
    <div class="my-4">
      <h1 class="title">SERENDIPIA</h1>
      <hr style="height: 2px; color: white; opacity: 100%" />
      <h2 class="text-center">BOOKING</h2>
    </div>
  </header>

  <body class="row d-flex justify-content-center align-items-center p-5">
    <div
      class="col-lg-4 col-md-6 col-sm-12 mb-5"
      *ngFor="let item of roomArray; let indice = index"
    >
      <div class="card bg-dark text-white">
        <img
          src="https://exp.cdn-hotels.com/hotels/43000000/42560000/42560000/42559911/4541ca4c_z.jpg?impolicy=fcrop&w=500&h=333&q=medium"
          class="card-img"
          alt="..."
        />
        <div class="card-img-overlay">
          <div class="row d-flex justify-content-center align-items-center">
            <h5 class="col-lg-9 col-md-6 col-sm-12 card-title">
              {{ item.name | uppercase }}
            </h5>
            <h5
              style="letter-spacing: 10px; font-weight: bold"
              class="text-end col-lg-3 col-md-6 col-sm-12"
            >
              {{ item.nightly_price }}
            </h5>
          </div>

          <div class="row align-items-end">
            <div class="col-6 d-flex justify-content-center my-2">
              <button
                [routerLink]="['/booking']"
                type="button"
                class="btn btn-light"
              >
                BOOK
              </button>
            </div>

            <div class="col-6 d-flex justify-content-center my-2">
              <button
                [routerLink]="['/roomdetail']"
                type="button"
                class="btn btn-secondary"
              >
                MORE
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>
