<div class="main">
    <header id="header-background" class="text-center">
        <h1 id="header-title">MOTOMAMI</h1>
        <h2 id="header-text">LIVE THE MOMENT</h2>
        <button id="button-booknow"> BOOK NOW</button>
    </header>
    <div class="container m-0 p-0">
        <section class="container-fluid">
            <div id="section1" >
                <h2>LOREM IPSUM</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a ultricies nulla. Maecenas accumsan
                    convallis
                    diam, ac maximus est mollis et. Nunc sagittis elit mi, a blandit eros rhoncus at. Integer ac euismod
                    nunc.
                    Sed pharetra odio faucibus aliquam laoreet. Etiam fringilla sem id enim molestie imperdiet. Aliquam
                    libero
                    dolor, eleifend et fringilla eu, molestie vitae diam.
                </p>
            </div>
        </section>

        <section id="section2">
            <img  src="../../../assets/home/home1.svg" alt="">
   <!--          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a ultricies nulla. Maecenas
                accumsan convallis
                diam, ac maximus est mollis et. Nunc sagittis elit mi, a blandit eros rhoncus at. Integer ac euismod
                nunc.
                Sed pharetra odio faucibus aliquam laoreet. Etiam fringilla sem id enim molestie imperdiet. Aliquam
                libero
                dolor, eleifend et fringilla eu, molestie vitae diam.
            </p> -->

        </section>

    </div>

</div>