

/* You can add global styles to this file, and also import other style files */

/* PoiretOne Font AND Archivo*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Poiret+One&display=swap');


*{
    font-family: 'Poppins', sans-serif;

    margin: 0;
    padding: 0;
}
